*{
    margin:0;
    padding:0;
    border-spacing:0;
    border-collapse:collapse;
}

body{
    margin:0;
    padding:0;

}


.container{
    margin:0 auto;
    padding:0 150px;
}


/*Main*/
.main__header{
    margin-top:20px;
    text-align:center;
    border:0;
    max-width:100%;
    line-height:1.7;
    display:block;
    font-size:25px;
    font-weight:700;
    color:#e80b0b77;
    
    transition:color .1s linear;
     z-index:10;
}

.main__header:hover{
    color:#ff656577;
}



.main__windows{
    display:flex;
    justify-content:space-between;
    margin-top:100px;
     
}

.main__windows:before{
    content:"";
    position:absolute;
    left:0;
    width:100%;
    height:50%;
    background-color:beige;
    z-index:0;
}





/*Window*/
.windows{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border:solid 1px #000;
    position:relative;
    left:0;
    width:400px;
    height:400px;
    transition:border .1s linear;
     z-index:10;
}

.windows:hover{
    border:solid 5px #7b7676;
}


/*Tables*/
.tables{
    display:flex;
   
   
    margin:auto;
    padding:5px;
    color:transparent;
    height:400px;
    
}

.tables__row{
    height:20px;
}


.tables__item{
    background-color:#777;
    padding:0;
    width:38px;
    height:38px;
    transition:background .1s linear, border .1s linear;
    
}

.tables__item:hover{
    background-color:antiquewhite;

}


.tables__item.active{
    background-color:red;
    transform:rotateZ(90deg);
}


/*Asides*/
.asides{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 10px;
     z-index:10;
}


.asides__inner{
    display: flex;
    justify-content:center;
    flex-direction:column;
    
    border:solid 1px #000;
    min-width:100px;
    min-height:100px;
}


.asides__item{
    text-align:center;
    height:50px;
    background:#777;
}

.asides__item:hover{
    background:#bfbbbb;
}




@media (max-width:1240px){
    /*Main windows*/
    .main__windows{
        
        flex-direction: column;
        align-items: center;
        flex-wrap:wrap;
    }
    
    .main__windows:before{
        height:75%;
    }
    
    /*Windows*/
    .windows{
        margin-bottom:10px;
    }
    
    /*Asides*/
    .asides{
        margin-bottom:50px;
    }
    
    .asides__inner{
        min-width:250px;
    }
    
}


@media (max-width:800px){
    .container{é
        padding:0 50px;
    }
}

@media (max-width:500px){
    .container{
        padding:0;
    }
    
    /*Windows*/
    .windows{
        width: 300px;
        height: 300px;
    }
    
}




